// Light Theme Colors
.v-theme--AQUA_THEME{
    --v-theme-primary: 0, 116, 186;
    --v-theme-secondary: 71, 215, 188;
}

.v-theme--PURPLE_THEME {
    --v-theme-primary: 118, 62, 189;
    --v-theme-secondary: 148, 208, 214;
}

.v-theme--GREEN_THEME {
    --v-theme-primary: 10, 126, 164;
    --v-theme-secondary: 204, 218, 78;
}

.v-theme--CYAN_THEME {
    --v-theme-primary: 1, 192, 200;
    --v-theme-secondary: 251, 150, 120;
}
.v-theme--ORANGE_THEME {
    --v-theme-primary: 250, 137, 107;
    --v-theme-secondary: 0, 116, 186;
}
.v-theme--DARK_AQUA_THEME{
    --v-theme-primary: 0, 116, 186;
    --v-theme-secondary: 71, 215, 188;
}

.v-theme--DARK_PURPLE_THEME {
    --v-theme-primary: 118, 62, 189;
    --v-theme-secondary: 148, 208, 214;
}

.v-theme--DARK_GREEN_THEME {
    --v-theme-primary: 10, 126, 164;
    --v-theme-secondary: 204, 218, 78;
}

.v-theme--DARK_CYAN_THEME {
    --v-theme-primary: 1, 192, 200;
    --v-theme-secondary: 251, 150, 120;
}
.v-theme--DARK_ORANGE_THEME {
    --v-theme-primary: 250, 137, 107;
    --v-theme-secondary: 0, 116, 186;
}